.loginContainer{
    width: 100%;
    text-align: center;
    margin: 1em 0;
}

.loginContainer h1{
    margin-bottom: .5em;
}

.loginContainer h3{
    margin-top: 0;
}

.light{
    background-color: #272727;
    color: #f9f9f9;
    box-shadow: none;
}

@media screen and (min-width: 600px){
    .loginContainer form{
        width: 40%;
   }
}

@media screen and (min-width: 1024px){
    .loginContainer h1{
        margin-top: 1.5em;
    }
    
    .loginContainer form{
        width: 20%;
   }
}