.editCardContainer{
    margin-bottom: 2em;
}

.textPreviewImage{
    text-align: left;
    font-weight: bold;
    margin: .5em 0;
}

.previewImage{
    margin-bottom: .5em;
}

.light{
    background-color: #272727;
    color: #f9f9f9;
    box-shadow: none;
}

@media screen and (min-width: 600px){
    .editCardContainer form{
        width: 50%;
   }
}

@media screen and (min-width: 1024px){
    .editCardContainer h1{
        margin-top: 1.5em;
    }
    
    .editCardContainer form{
        width: 40%;
   }
}