.homeContainer{
    width: 100%;
    margin-top: 80px;
}

.aboutMe{
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes border-radius-animation {
    0% {
      border-radius: 22% 78% 28% 72% / 48% 42% 58% 52%;
    }
    25% {
      border-radius: 42% 58% 65% 35% / 57% 57% 43% 43%;
    }
    50% {
      border-radius: 72% 28% 75% 25% / 35% 72% 28% 65%;
    }
    75% {
        border-radius: 42% 58% 65% 35% / 57% 57% 43% 43%;
      }
    100% {
        border-radius: 22% 78% 28% 72% / 48% 42% 58% 52%;
    }
  }

.aboutMe img{
    width: 70%;
    animation: border-radius-animation 5s infinite;
    border-radius: 22% 78% 28% 72% / 48% 42% 58% 52%;
}

.aboutMeInfo p{
    margin: 0 1em;
}

.aboutMeInfo h3{
    margin: 1em 0;
}

.aboutMeActions{
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMeActions button{
    width: 124px;
}

.aboutMeActions svg{
   font-size: 2em;
   margin-right: 0.2em;
}

.hardSkills{
    text-align: center;
    margin-bottom: 1em;
}

.iconsHardSkills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.softSkills{
    margin: 1em;
}

.softSkills p{
    margin: 0em;
}