#sobre-mim{
    scroll-margin-top: 100px;
}

.homeContainer{
    width: 100%;
    margin: 1em auto;
}

.aboutMe{
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 100px;
}

@keyframes border-radius-animation {
    0% {
      border-radius: 22% 78% 28% 72% / 48% 42% 58% 52%;
    }
    25% {
      border-radius: 42% 58% 65% 35% / 57% 57% 43% 43%;
    }
    50% {
      border-radius: 72% 28% 75% 25% / 35% 72% 28% 65%;
    }
    75% {
        border-radius: 42% 58% 65% 35% / 57% 57% 43% 43%;
      }
    100% {
        border-radius: 22% 78% 28% 72% / 48% 42% 58% 52%;
    }
  }

.aboutMeImg{
    text-align: center;
}

.aboutMeImg img{
    width: 70%;
    animation: border-radius-animation 5s infinite;
    border-radius: 22% 78% 28% 72% / 48% 42% 58% 52%;
}

.aboutMeInfo p{
    margin: 0 1em;
}

.aboutMeInfo h4{
    margin: 1em 0;
}

.aboutMeActions{
    margin-top: 1em;
    margin-bottom: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMeActions a{
    width: 104px;
    margin: 0 1em;
}

.aboutMeActions svg{
   font-size: 2em;
   margin-right: 0.2em;
}

.hardSkills{
    scroll-margin-top: 100px;
    text-align: center;
    margin-bottom: 1em;
}

.iconsHardSkills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.softSkills{
    scroll-margin-top: 100px;
    margin: 1em;
}

.softSkills p{
    margin: 0em;
}

.projects{
    scroll-margin-top: 100px;
}

.light{
    animation: none;
    border: 2px solid #272727;
    box-shadow: none;
}

@media screen and (min-width: 600px){
    .homeContainer{
        width: 80%;
    }

}

@media screen and (min-width: 1024px){
    .homeContainer{
        width: 90%;
    }

    .aboutMe{
        margin-top: 3em;
        margin-bottom: 2em;
        flex-direction: row-reverse;
    }

    .aboutMeImg{
        width: 50%;
        text-align: center;
        margin: 0 1em;
    }

    .aboutMe img{
        width: 60%;
        margin:  0 auto;
    }

    .aboutMeInfo{
        width: 50%;
        margin: 0 1em;
    }

    .aboutMeInfo p{
        width: 90%;
        text-align: justify;
        margin: 0 auto;
    }

    .aboutMeInfo h4{
        margin: 2em 0;
    }

    .lineLightHome{
        display: none;
    }

    .skillsComponent{
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
    }

    .hardSkills{
        width: 50%;
        margin: 0 1em;
    }

    .softSkills{
        width: 50%;
        margin: 0 1em;
    }

    .softSkills p{
        padding: 0 1em;
        width: 90%;
        text-align: justify;
    }

    .projects{
        margin: 0 1em;
    }

    .projectsCards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}