.createCardContainer{
    text-align: center;
    margin-bottom: 2em;
}

.createCardContainer h1{
    margin: .5em;
}

.createCardContainer h3{
    margin-top: 0;
}

.light{
    background-color: #272727;
    color: #f9f9f9;
    box-shadow: none;
}

@media screen and (min-width: 600px){
    .createCardContainer form{
        width: 50%;
   }
}

@media screen and (min-width: 1024px){
    .createCardContainer h1{
        margin-top: 1em;
    }
    
    .createCardContainer form{
        width: 40%;
   }
}