.contactContainer{
    text-align: center;
}

.sectionContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-image: linear-gradient(to bottom right, #378fc5, #0d0e32);
    border: 2px solid #f9f9f9;
    padding: 1em;
    border-radius: 20px;
    margin: 1em auto;
}

.sectionContact img{
    width: 50%;
    border-radius: 50%;
    border: 2px solid #f9f9f9;
}

.sectionTexts{
    margin-top: 1em;
}

.sectionTexts h2{
    color: #f9f9f9;
    margin-bottom: 0em;
}

.sectionTexts p{
    color: #f9f9f9;
    margin-bottom: 1em;
}

.sectionTexts h3{
    color: #f9f9f9;
    margin-bottom: 1em;
}

.socialMidia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
}

.socialMidia a{
    margin: 0 0.5em;
    color: #f9f9f9;
    font-size: 2.5em;
    transition: .5s;
}

.socialMidia a:hover{
    color: #16a6ff;
}

@media screen and (min-width: 1024px){
    .contactContainer h1{
        margin-top: 1.5em;
    }

    .sectionContact{
        flex-direction: row;
        width: 60%;
    }
}