.cardHardSkills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
}

.cardHardSkills img{
    width: 50px;
}

.cardHardSkills h5{
    margin-top: .5em;
    margin-bottom: 1em;
}